body {
    background-color: #4aaaa5;
}

li {
    display: inline-block;
    /*top right bottom left*/
    margin: 0 20px 0 20px;
    padding: 0;
}

.innerbox ul li {
    display: inline-block;
    margin: 0;
    padding: 0; 
}

.innerbox ul {
    padding: 0; 
}

a {
    font-size: 18px;
}

.leftbox {
    display: inline-block;
    width: 650px;
    border: 1px solid #000;
    text-align: left;
    background-color: #ffffff;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 40px;
}

.leftbox img {
    float: left;
   /* padding-right: 5px;*/
   margin: 15px;
}

.leftbox h1 {
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 15px;

}


nav ul {
    top: 0;
    right: 0px;
    position: absolute;
}

.social {
    display: inline-block;
    width: 270px;
    border: 1px solid #000;
    text-align: center;
    background-color: #ffffff;
}

.innerbox {
    padding: 20px;
    border-top: 1px solid black;
    background-color: #ffffff;
    margin: 10px;
}

.top {
    display: inline-block;
    border: 1px solid #000;
    background-color: #ffffff;
    width: 100%;
    height: 51px;
}

header h1 {
    margin-left: 100px;
    border: 1px solid #000;
    text-align: center;
    background-color: #a5a740;
    width: 200px;
    height: 50px;
    top: 0;
    margin-top: 0;
    padding: 0;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    text-align: left;
}

p {
    font-family: "Arial," sans-serif;
}

footer {
    background-color: #666666;
    color: #dddddd;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}