/* #ff79ff  #aeea00
instructor: #ff4081 p-light #ff79b0 p-dark: #c60055 secondary #e676e6 S-light #66ffa6 s-dark #00b248 */


body {
    background-color: #4aaaa5;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    text-align: left;
}


li {
    display: inline-block;
    /*top right bottom left*/
    margin: 0 20px 0 20px;
}

a {
    font-size: 18px;
}

.leftbox {
    display: inline-block;
    width: 650px;
    border: 1px solid #000;
    text-align: left;
    background-color: #ffffff;
}

.social {
    display: inline-block;
    width: 270px;
    border: 1px solid #000;
    text-align: center;
    background-color: #ffffff;
}

/* grab all a links in the footer*/
footer {
    background-color: #ffffff;
    color: #777777
    font-size: 12px;
    text-align: center;
}
