body {
    background-color: #4aaaa5;
}




li {
    display: inline-block;
    /*top right bottom left*/
    margin: 0 20px 0 20px;
    padding: 0;
}

a {
    font-size: 18px;
}

.leftbox {
    display: inline-block;
    width: 650px;
    border: 1px solid #000;
    text-align: left;
    background-color: #ffffff;
    margin-left: 100px;
}

.leftbox img {
    float: left;
}

.leftbox h1 {
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;

}

nav ul {
    top: 0;
    right: 0px;
    position: absolute;
}

.social {
    display: inline-block;
    width: 270px;
    border: 1px solid #000;
    text-align: center;
    background-color: #ffffff;
}

.innerbox {
    width: 270px;
    border: 1px solid #000;
    text-align: center;
    background-color: #ffffff;

}

innerbox img {
    float: left;
}

.top {
    display: inline-block;
    border: 1px solid #000;
    background-color: #ffffff;
    width: 100%;
    height: 51px;
}

header h1 {
    margin-left: 100px;
    border: 1px solid #000;
    text-align: center;
    background-color: #a5a740;
    width: 200px;
    height: 50px;
    top: 0;
    margin-top: 0;
    padding: 0;

}

h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    text-align: left;
}

footer {
    background-color: #666666;
    color: #dddddd;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
